In [2]:
import pandas as pd
# Seriesの作成(１次元のデータ)
ser = pd.Series([1,2,3,4,5])
ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
# DataFrame(２次元のデータ)
df = pd.DataFrame([[1, "A", True],[2, "B", False],[3, "C", True],[4, "D", False]])
df

   0  1      2
0  1  A   True
1  2  B  False
2  3  C   True
3  4  D  False

In [6]:
import numpy as np
df = pd.DataFrame(np.arange(60).reshape((15,4)))
df

     0   1   2   3
0    0   1   2   3
1    4   5   6   7
2    8   9  10  11
3   12  13  14  15
4   16  17  18  19
5   20  21  22  23
6   24  25  26  27
7   28  29  30  31
8   32  33  34  35
9   36  37  38  39
10  40  41  42  43
11  44  45  46  47
12  48  49  50  51
13  52  53  54  55
14  56  57  58  59

In [7]:
# 最初の5行
df.head()

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [8]:
# 最後の5行
df.tail()

     0   1   2   3
10  40  41  42  43
11  44  45  46  47
12  48  49  50  51
13  52  53  54  55
14  56  57  58  59

In [16]:
df.shape

(15, 4)

In [17]:
df = pd.DataFrame(np.arange(12).reshape((4,3)))
df

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [18]:
df.shape

(4, 3)

In [20]:
# インデックスとカラム名の割り当て
df.index = ['1行目','2行目','3行目','4行目']
df.columns = ['A列','B列','C列']
df

     A列  B列  C列
1行目   0   1   2
2行目   3   4   5
3行目   6   7   8
4行目   9  10  11

In [21]:
# データフレームを作成する際にインデックスとカラム名を設定する
df = pd.DataFrame(np.arange(12).reshape((4,3)), columns = ['A列','B列','C列'],index = ['1行目','2行目','3行目','4行目'])
df

     A列  B列  C列
1行目   0   1   2
2行目   3   4   5
3行目   6   7   8
4行目   9  10  11

In [31]:
# 特定の列をSeriesで取得
type(df["A列"])
# 特定の列をDataFrameで取得
type(df[["B列", "A列"]])

pandas.core.frame.DataFrame

In [32]:
# 特定の列を取得
df[["B列", "A列"]]

     B列  A列
1行目   1   0
2行目   4   3
3行目   7   6
4行目  10   9

In [33]:
# 特定の行を取得
df[:2]

     A列  B列  C列
1行目   0   1   2
2行目   3   4   5

In [35]:
# locメソッドを使って全データを取得
df.loc[:,:]

1行目    0
2行目    3
3行目    6
4行目    9
Name: A列, dtype: int32

In [39]:
# locメソッドを使ってA列、C列を取得
df.loc[:,["A列","C列"]]

     A列  C列
1行目   0   2
2行目   3   5
3行目   6   8
4行目   9  11

In [42]:
# locメソッドを使って１行目、２行目を取得
df.loc[["1行目","2行目"], :]

     A列  B列  C列
1行目   0   1   2
2行目   3   4   5

In [43]:
# locメソッドを使ってA列、B列の１行目、２行目を取得
df.loc[["1行目","2行目"],["A列","B列"]]

     A列  B列
1行目   0   1
2行目   3   4

In [47]:
# ilocは位置を指定する

# １行の１列目
df.iloc[1:,:2]

     A列  B列
2行目   3   4
3行目   6   7
4行目   9  10

In [48]:
df["D列"] = [100, 200, 300, 400]

In [49]:
df.head()

     A列  B列  C列   D列
1行目   0   1   2  100
2行目   3   4   5  200
3行目   6   7   8  300
4行目   9  10  11  400

In [50]:
df["E列"] = 1

In [51]:
df.head()

     A列  B列  C列   D列  E列
1行目   0   1   2  100   1
2行目   3   4   5  200   1
3行目   6   7   8  300   1
4行目   9  10  11  400   1

In [53]:
# dropで指定した行ro列を削除（axis=1は列の削除、inplaceは元データに反映させるかどうか）
df.drop(["D列", "E列"], axis=1, inplace=True)

KeyError: "['D列' 'E列'] not found in axis"

In [54]:
df

     A列  B列  C列
1行目   0   1   2
2行目   3   4   5
3行目   6   7   8
4行目   9  10  11

In [55]:
# dropで指定した行ro列を削除（axis=0は行の削除、inplaceは元データに反映させるかどうか）
df.drop(["4行目"], axis=0, inplace=True)
df

     A列  B列  C列
1行目   0   1   2
2行目   3   4   5
3行目   6   7   8